{% extends 'base.html' %}
{% block content %}

<h2>🎬 Assistir Cavaleiros do Zodíaco</h2>
<hr>

<div class="catalogo">

    <a href="{{animes.omega}}" target="_blank" class="card-link">
        <div class="card">
            <img src="{{url_for('static', filename='imgs/omega.png')}}">
            <div class="card-body">
                <h5 class="card-title">Saint Seiya Ômega</h5>
            </div>
        </div>
    </a>

    <a href="{{animes.lost_canvas}}" target="_blank" class="card-link">
        <div class="card">
            <img src="{{url_for('static', filename='imgs/lostcanvas.png')}}">
            <div class="card-body">
                <h5 class="card-title">The Lost Canvas</h5>
            </div>
        </div>
    </a>

    <a href="{{animes.soul_gold}}" target="_blank" class="card-link">
        <div class="card">
            <img src="{{url_for('static', filename='imgs/soulofgold.png')}}">
            <div class="card-body">
                <h5 class="card-title">Alma de Ouro</h5>
            </div>
        </div>
    </a>

    <a href="{{animes.saintia}}" target="_blank" class="card-link">
        <div class="card">
            <img src="{{url_for('static', filename='imgs/saintia.png')}}">
            <div class="card-body">
                <h5 class="card-title">Saintia Shō</h5>
            </div>
        </div>
    </a>

    <a href="{{animes.classico}}" target="_blank" class="card-link">
        <div class="card">
            <img src="{{url_for('static', filename='imgs/anime.png')}}">
            <div class="card-body">
                <h5 class="card-title">Clássico</h5>
            </div>
        </div>
    </a>

    <a href="{{animes.reboot}}" target="_blank" class="card-link">
        <div class="card">
            <img src="{{url_for('static', filename='imgs/reboot.png')}}">
            <div class="card-body">
                <h5 class="card-title">Reboot</h5>
            </div>
        </div>
    </a>

</div>

{% endblock %}